<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title class="grey-font">Weather Journal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header>
      <h1>Travel Journal</h1>
    </header>
    <div id="app">
      <div class="holder zip">
        <form>
          <label for="zip">City</label>
          <input type="text" id="zip" required="required" placeholder="enter city name here" />

          <label for="cntry">Country (Optional)</label>
          <input type="text" id="cntry" placeholder="enter country name here"  />
      
          <label for="state">State (Optional)</label>
          <input type="text" id="state" placeholder="enter state name here" />
     
          <label for="date">Start Date</label>
          <input type="date" id="start" required="required" class="empty"/>

          <label for="date">End Date</label>
          <input type="date" id="end" class="empty" />
          <button id="generate" type="submit" required="required" class="blue-outline">Generate</button>
        </form> 
      </div>
      <div class="outputHolder">
        <div class="output">
          <div id="title" class="title">Entry</div>
          <div id="entryHolder" class="entry">
            <div id="msg"></div>
            <div id="countdown"></div>
            
            <div id="hiTemp"></div>
            <div id="loTemp"></div>
            <div id="forecast"></div>
            <div id="length"></div>
            <div id="imgHolder" class="flex-box-center"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
